html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

footer {
    background-color: #1274d5;  
    text-align: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-custom {
    background-color: #166fc9;
}

