* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(bg.jpg) ;
  background-size: cover;
  background-position: center;
  /* transition: background 0.5s ease-in-out; Transisi saat background berubah */
}

/* Wrapper untuk halaman login */
.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
  /* transition: all 0.3s ease;  */
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
  transition: all 0.3s ease; 
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: all 0.3s ease; /* Transisi halus untuk tombol */
}

.wrapper .btn:hover {
  background: #333; /* Ubah warna background tombol saat di-hover */
  color: #fff; /* Ubah warna font saat di-hover */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Tambahkan efek bayangan */
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

/* Wrapper untuk dashboard admin */
.admin-wrapper {
  height: auto;
  width: 2200px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 40px 60px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  overflow: hidden;
  transition: all 0.3s ease; 
}

.admin-wrapper h1, .admin-wrapper p {
  text-align: center;
}

.admin-wrapper h1 {
  font-size: 46px;
  margin-bottom: 20px;
}

.admin-wrapper p {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Tabel di dalam dashboard */
.admin-wrapper table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: #ffffff;
  text-align: left;
  table-layout: fixed;
}

.admin-wrapper table, th, td {
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.admin-wrapper th, .admin-wrapper td {
  padding: 25px;
  text-align: center;
}

.admin-wrapper th {
  padding: 25px;
  font-size: larger;
  background: rgba(255, 255, 255, 0.211);
  text-align: center;
}

.admin-wrapper td {
  font-size: 20px;
  padding: 25px;
  text-align: center;
  word-wrap: break-word;
}

.admin-wrapper .btn {
  width: 100%;
  height: 50px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 18px;
  color: #333;
  font-weight: 600;
  margin-top: 40px;
  transition: all 0.3s ease; 
}

.admin-wrapper .btn:hover {
  background: #333; 
  color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
}

/* Wrapper untuk dashboard user */
.user-wrapper {
  width: 500px;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 50px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
  transition: all 0.3s ease; /* Transisi halus */
}

.user-wrapper h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.user-wrapper .highlight {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

.user-info-label {
  font-size: 22px;
  font-weight: bold;
  width: 40%;
}

.user-info-colon {
  font-size: 22px;
  text-align: center;
  width: 10%;
}

.user-info-value {
  font-size: 22px;
  text-align: right;
  width: 50%;
}

.user-wrapper .btn {
  width: 100%;
  padding: 15px;
  background: #fff;
  border: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 20px;
  color: #333;
  font-weight: 600;
  margin-top: 30px;
  transition: all 0.3s ease; 
}

.user-wrapper .btn:hover {
  background: #333; 
  color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
}

@media screen and (max-width: 768px) {
  .admin-wrapper, .user-wrapper {
    width: 90%;
    padding: 20px;
  }

  .user-wrapper h1, .admin-wrapper h1 {
    font-size: 28px;
  }

  .user-wrapper p, .admin-wrapper p {
    font-size: 16px;
  }
}
